@{
    Layout = null;
}

<table class="table table-striped" style="text-align: center;">
    <thead style="background-color: chocolate; color: white">
    <tr>
        <th scope="col">Описание</th>
        <th scope="col">Дата изменения</th>
        <th scope="col">Состояние</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ошибка "Отображение" получила статус обнаружено</td>
        <td>12.12.12</td>
        <td>Обнаружено</td>
    </tr>
    </tbody>
</table>
