@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="editPasswordModalCenterTitle">Изменить пароль пользователя</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input name="Id" type="hidden" id="Id" />
        <div class="form-group row">
            <label for="OldPassword" class="col-5 col-form-label"><strong>Старый пароль:</strong></label>
            <div class="col-7">
                <input name="OldPassword" type="password" class="form-control" id="OldPassword" placeholder="Введите старый пароль">
            </div>
        </div>
        <div class="form-group row">
            <label for="NewPassword" class="col-5 col-form-label"><strong>Новый пароль:</strong></label>
            <div class="col-7">
                <input name="NewPassword" type="password" class="form-control" id="NewPassword" placeholder="Введите новый пароль">
            </div>
        </div>
        <div class="form-group row">
            <label for="RepeatNewPassword" class="col-5 col-form-label"><strong>Повторить пароль:</strong></label>
            <div class="col-7">
                <input name="RepeatNewPassword" type="password" class="form-control" id="RepeatNewPassword" placeholder="Повторите новый пароль">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success" id="editPassword">Сохранить</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/user.js"></script>
<script>
    $(document).ready(function (e) {

        editPassword.onclick = function () {
            postUserPasswordAjax();
        }
    });
</script>
