@{
    Layout = null;
}

<table class="table table-striped" style="text-align: center;">
    <thead style="background-color: chocolate; color: white">
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Состояние</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Отображение</td>
        <td>12.12.12</td>
        <td>Слой бизнес-логики</td>
        <td><button class="btn btn-success">&#128270;</button></td>
    </tr>
    </tbody>
</table>