@{
    Layout = null;
}

<table class="table" style="text-align: center;">
    <thead style="background-color: chocolate; color: white">
        <tr>
            <th scope="col-11">Название проекта</th>
            <th scope="col-1"></th>
        </tr>
    </thead>
    <tbody id="projects">
        
    </tbody>
</table>
<div class="row" style="text-align: center">
    <div class="col-8">
        <div class="input-group" style="width: 60%; margin: auto">
            <input type="number" class="form-control" id="projectPage">
            <div class="input-group-append">
                <span class="input-group-text" id="infoProjectPage">1 из 25</span>
                <button class="btn btn-success" type="button" id="projectGo">Перейти</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <label class="col-6 col-form-label"><strong>Кол-во:</strong></label>
            <div class="col-6">
                <select name="count" id="projectCount" class="form-control" onchange="changeOption()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/project.js"></script>
<script>
    $(document).ready(function (e) {

        getProjectTableAjax(1, 5);

        projectGo.onclick = function() {
            var count = $('#projectCount').val();
            var page = $('#projectPage').val();
            getProjectTableAjax(page, count);
        }
    });

    function changeOption() {
        var count = $('#projectCount').val();
        getProjectTableAjax(1, count);
    }
</script>
