@{
    Layout = null;
}

<div class="row" style="margin-bottom: 5px">
    <div class="col-6">
        <div class="info-mini" style="margin: 5px">
            <div class="header-info-mini" style="margin: -20px; margin-bottom: 20px;">&#128295; Пользователь</div>
            <h5><strong id="user-name">Имя Фамилия</strong></h5>
            <h5><strong id="user-type">Должность</strong></h5>
        </div>
    </div>
    <div class="col-6">
        <div class="info-mini" style="margin: 5px; text-align: center">
            <a class="btn btn-success" data-toggle="modal" data-target="#editInfoModalCenter" style="margin: 5px; width: 90%; margin-top: 25px;">Изменить информацию</a>
            <a class="btn btn-success" data-toggle="modal" data-target="#editPasswordModalCenter" style="margin: 5px; width: 90%">Изменить пароль</a>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px; margin-top: 20px;">
    <div class="col-6">
        <div class="info-mini" style="margin: 5px">
            <div class="header-info-mini" style="margin: -20px; margin-bottom: 20px;">&#128221; Статусы ошибок</div>
            <h5><strong>Активно</strong> <span class="badge badge-info" id="activeCount"></span></h5>
            <h5><strong>Неактивно</strong> <span class="badge badge-secondary" id="nonActiveCount"></span></h5>
            </div>
    </div>
    <div class="col-6">
        <div class="info-mini" style="margin: 5px">
            <div class="header-info-mini" style="margin: -20px; margin-bottom: 20px;">&#128172; Комментарии</div>
            <h5><strong>Оставлено</strong> <span class="badge badge-info" id="userCommentaries"></span></h5>
            <h5><strong>Популярность</strong> <span class="badge badge-danger" id="popularity"></span></h5>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="editInfoModalCenter" tabindex="-1" role="dialog" aria-labelledby="editInfoModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        @await Html.PartialAsync("MyViews/_EditUserInfo");
    </div>
</div>
<div class="modal fade" id="editPasswordModalCenter" tabindex="-1" role="dialog" aria-labelledby="editPasswordModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        @await Html.PartialAsync("MyViews/_EditUserPassword");
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/user.js"></script>
<script>
    $(document).ready(function (e) {
        getUserAjax();
        getUserCommentaryInfoAjax();
        getUserErrorInfoAjax();
    });
</script>
