@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка ресурса";
}

<div class="main info" style="margin-top: 20px; width: 70%; padding: 20px;">
    @if (Model.Code == 403)
    {
        <h1 class="text-danger"><strong>@Model.Code Действие запрещено</strong></h1>
    }
    else
    {
        <h1 class="text-danger"><strong>@Model.Code Ошибка</strong></h1>
    }
</div>
