@{
}
<div id="panel">
    Фильтры &#129534;
    <div class="info" id="hidden_panel" style="color: black">
        <div class="form-group row">
            <label for="inputName" class="col-4 col-form-label"><strong>Название:</strong></label>
            <div class="col-8">
                <input type="text" class="form-control" id="errorName" placeholder="Введите название">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-4 col-form-label"><strong>Область:</strong></label>
            <div class="col-8">
                <select id="selectErrorOrigins" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-4 col-form-label"><strong>Состояние:</strong></label>
            <div class="col-8">
                <select id="selectErrorStatus" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-4 col-form-label"><strong>Ответственный:</strong></label>
            <div class="col-8">
                <select id="selectResponsible" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-4 col-form-label"><strong>Создатель:</strong></label>
            <div class="col-8">
                <select id="selectCreators" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <button class="btn btn-warning" id="clear" style="width: 100%">Очистить</button>
            </div>
            <div class="col-6">
                <button class="btn btn-success" id="search" style="width: 100%">Применить</button>
            </div>
        </div>
    </div>
</div>
<div class="main info" style="margin-top: 20px;">
    <table class="table table-striped" style="text-align: center;">
        <thead style="background-color: chocolate; color: white">
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Область</th>
                <th scope="col">Состояние</th>
                <th scope="col">Создатель</th>
                <th scope="col">Ответственный</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="errors">
        </tbody>
    </table>
    <div class="row" style="text-align: center">
        <div class="col-8">
            <div class="input-group" style="width: 60%; margin: auto">
                <input type="number" class="form-control" id="errorAllPage">
                <div class="input-group-append">
                    <span class="input-group-text" id="infoErrorAllPage">1 из 25</span>
                    <button class="btn btn-success" type="button" id="errorAllGo">Перейти</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <label class="col-6 col-form-label"><strong>Кол-во:</strong></label>
                <div class="col-6">
                    <select name="count" id="errorAllCount" class="form-control">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/error.js"></script>
<script>
    $(document).ready(function(e) {

        var useFilter = false;
        var errorFilter = null;

        getErrorTable(1, 5, errorFilter, useFilter);
        getAllUserAjax();
        getAllErrorOriginsAjax();
        getAllErrorStatusesAjax();

        errorAllGo.onclick = function() {
            var count = $('#errorAllCount').val();
            var page = $('#errorAllPage').val();
            getErrorTable(page, count, errorFilter, useFilter);
        }

        search.onclick = function() {
            var filter = getFilter();
            useFilter = true;
            errorFilter = filter;
            getErrorTable(1, 5, errorFilter, useFilter);
        }

        clear.onclick = function() {
            useFilter = false;
            errorFilter = null;
            clearFilter();
            getErrorTable(1, 5, errorFilter, useFilter);
        }

        errorAllCount.onchange = function() {
            var count = $('#errorAllCount').val();
            getErrorTable(1, count, errorFilter, useFilter);
        }
    });

    function getFilter() {
        var filter = {
            Name: $('#errorName').val(),
            ErrorStatus: $('#selectErrorStatus').val() === "null" ? null : parseInt($('#selectErrorStatus').val()),
            ErrorOrigin: $('#selectErrorOrigins').val() === "null" ? null : parseInt($('#selectErrorOrigins').val()),
            UserCreate: $('#selectCreators').val() === "null" ? null : $('#selectCreators').val(),
            UserResponsible: $('#selectResponsible').val() === "null" ? null : $('#selectResponsible').val()
        }
        return filter;
    }

    function clearFilter() {
        document.getElementById('errorName').value = null;
        document.getElementById('selectErrorStatus').value = null;
        document.getElementById('selectErrorOrigins').value = null;
        document.getElementById('selectCreators').value = null;
        document.getElementById('selectResponsible').value = null;
    }

    function getErrorTable(page, count, filter, useFilter) {
        if (useFilter === true) {
            getErrorAllTableAjax(page, count, filter);
        } else {
            getErrorAllTableAjax(page, count, null);
        }
    }
</script>
