@{
}
<div class="main info" style="margin-top: 20px;">
    <table class="table table-striped" style="text-align: center;">
        <thead style="background-color: chocolate; color: white">
            <tr>
                <th scope="col">Информация</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Пользователь</th>
            </tr>
        </thead>
        <tbody id="audits">
        </tbody>
    </table>
    <div class="row" style="text-align: center">
        <div class="col-8">
            <div class="input-group" style="width: 60%; margin: auto">
                <input type="number" class="form-control" id="auditAllPage">
                <div class="input-group-append">
                    <span class="input-group-text" id="infoAuditAllPage">1 из 25</span>
                    <button class="btn btn-success" type="button" id="auditAllGo">Перейти</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <label class="col-6 col-form-label"><strong>Кол-во:</strong></label>
                <div class="col-6">
                    <select name="count" id="auditAllCount" class="form-control" onchange="changeAuditAllOption()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/audit.js"></script>
<script>
    $(document).ready(function (e) {

        getAuditAllTableAjax(1, 5);

        auditAllGo.onclick = function () {
            var count = $('#auditAllCount').val();
            var page = $('#auditAllPage').val();
            getAuditAllTableAjax(page, count);
        }
    });

    function changeAuditAllOption() {
        var count = $('#auditAllCount').val();
        getAuditAllTableAjax(1, count);
    }
</script>
